#EXTM3U
#EXT-X-VERSION:3
#EXT-X-MEDIA-SEQUENCE:0
#EXT-X-TARGETDURATION:13
#EXT-X-PLAYLIST-TYPE:VOD
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/42e7b8c9eb95664fa26bd7d6753f516d.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/2cdd0484d5c3f040ed07a6036683acbc.png
#EXTINF:11.880,
https://hls01.juyjuy3.cloud/hls/b7690524e5ec7f1825d9d6393b11a4c0.png
#EXTINF:11.920,
https://hls01.juyjuy3.cloud/hls/03d60e85ff249d4ba897f49046c7660e.png
#EXTINF:11.400,
https://hls01.juyjuy3.cloud/hls/6d39b5afb15c78ab325720cd7fd1e91f.png
#EXTINF:11.480,
https://hls01.juyjuy3.cloud/hls/15b4db89c215474d68affb23d89b158c.png
#EXTINF:11.680,
https://hls01.juyjuy3.cloud/hls/c02e25a308faa0e03f0d977b163c6f63.png
#EXTINF:11.560,
https://hls01.juyjuy3.cloud/hls/227a1ff5beb11cf6ba8b4bbd54887c41.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/e822c5af59dfdb31ad5d8880dfdf8104.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/0a3d629d6a67849b87c3424500e89e06.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/e2161221c1ad5d15f3c34de50ad4c36d.png
#EXTINF:11.800,
https://hls01.juyjuy3.cloud/hls/795d918bb6aba7b777a7b0df64e5f2f3.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/bf6c790d089ea587a6b4f7c21865d0d7.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/60c3c1e412d218eb1701da249c46847e.png
#EXTINF:11.240,
https://hls01.juyjuy3.cloud/hls/a69fabd1b741ae443143a76c398d4411.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/615d4d878e78ac661aed113fe6a63cff.png
#EXTINF:11.280,
https://hls01.juyjuy3.cloud/hls/ddeae30ce1f64a9e2d836409aab4324d.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/db49394e4cb81a32b9fcbaa0896166b5.png
#EXTINF:10.960,
https://hls01.juyjuy3.cloud/hls/f348b95663492951c5e4cf9b01d47a48.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/b7e0df5174b8f24652d400ea510a0b2a.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/51e43c3c61b9509f9004a86282c145ec.png
#EXTINF:11.360,
https://hls01.juyjuy3.cloud/hls/14307c0ad233c9db9c67355924e4d1dd.png
#EXTINF:11.280,
https://hls01.juyjuy3.cloud/hls/e854d6be25a6595a49fb96b4ffb009b9.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/a070ff51d2b19161777555de66832f6b.png
#EXTINF:11.280,
https://hls01.juyjuy3.cloud/hls/72f93ca8c102d37fb683785a17a53c89.png
#EXTINF:11.800,
https://hls01.juyjuy3.cloud/hls/e09dfa7804c323586917ce3ed1296a64.png
#EXTINF:11.000,
https://hls01.juyjuy3.cloud/hls/6082bd4b9ee7d23bf7d1edf77a8d98ae.png
#EXTINF:11.800,
https://hls01.juyjuy3.cloud/hls/fc2475b926ddc6f563e82cf3af33674d.png
#EXTINF:11.600,
https://hls01.juyjuy3.cloud/hls/6af86b1c4fddff296c7158b41253ae1b.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/8d7a235e6f91cf7aec32374ff74d6b9b.png
#EXTINF:11.080,
https://hls01.juyjuy3.cloud/hls/5720a6e151dea6efe9aae91ad2e4ff67.png
#EXTINF:11.080,
https://hls01.juyjuy3.cloud/hls/d1b4168e1dd4738c5449b2cf6e5a7076.png
#EXTINF:10.680,
https://hls01.juyjuy3.cloud/hls/87ca504ef79539cbfc4b7afb77b2b06a.png
#EXTINF:11.000,
https://hls01.juyjuy3.cloud/hls/5f3086ebe8d00341366b85b501ad35a8.png
#EXTINF:10.160,
https://hls01.juyjuy3.cloud/hls/e960969fee0f0a5af29f1f26dcb94acc.png
#EXTINF:11.120,
https://hls01.juyjuy3.cloud/hls/972d27c05d0cb8ba785cf7d6ac5d2b15.png
#EXTINF:11.360,
https://hls01.juyjuy3.cloud/hls/374dcc2e43d89ebbd6af6f10bdbf5d7e.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/c2da0cd9dcfdff9a384affcfe03ece15.png
#EXTINF:11.600,
https://hls01.juyjuy3.cloud/hls/e9770f8c502cc6bf58e065034e885a14.png
#EXTINF:11.040,
https://hls01.juyjuy3.cloud/hls/3891dcd276092d706b413fece0fa45c3.png
#EXTINF:11.280,
https://hls01.juyjuy3.cloud/hls/b80cacf5a423529192cd923487cdbe6b.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/848b3d639c60982c273ebcec52e7487b.png
#EXTINF:11.520,
https://hls01.juyjuy3.cloud/hls/6e2df8caec2007bd09f35242d7fa157c.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/5a22dc2294392fd931b4607d66c137c9.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/4903ca00cc76a4be58082685086cf2ea.png
#EXTINF:11.920,
https://hls01.juyjuy3.cloud/hls/a3213daf6d88bc2aaac39af83c4bb15e.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/207fc08cc1d7218b268d7eb83f668f93.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/4fa5644e2ecdfc75d6f2308836efea50.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/f4ffe24a6213ff6a7ea3f810971018ae.png
#EXTINF:10.680,
https://hls01.juyjuy3.cloud/hls/7d2325233cfff649ae51ced9ed5e25b3.png
#EXTINF:11.680,
https://hls01.juyjuy3.cloud/hls/91fae5215f892e51d0846bbd3bf08277.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/d19753df1e4d0a392b8a1d8d8eee8914.png
#EXTINF:11.480,
https://hls01.juyjuy3.cloud/hls/1f81ca7b708b0129526c61a3a506eac1.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/1938c2e2bec38ceed05d7d3acd02b913.png
#EXTINF:10.840,
https://hls01.juyjuy3.cloud/hls/985b49d50398cd44ae2fcb8650c4fe0c.png
#EXTINF:11.680,
https://hls01.juyjuy3.cloud/hls/35d945b71ffb242536cf458d8d55f9b6.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/7257e5f36da9e12b5640309082e29b75.png
#EXTINF:10.560,
https://hls01.juyjuy3.cloud/hls/b4f4cb01b798e7cda59b6b25e8c0e565.png
#EXTINF:11.680,
https://hls01.juyjuy3.cloud/hls/c48022126d82043fd081a6e5240d32dc.png
#EXTINF:10.280,
https://hls01.juyjuy3.cloud/hls/e42c24d218c853484b3f5357838c9044.png
#EXTINF:11.080,
https://hls01.juyjuy3.cloud/hls/e3861d6254e312434d715411cfd9e24c.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/2b130a4d532a0d902c09bffee1ae8d91.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/61900f88f6103193165325198ab0a41e.png
#EXTINF:11.560,
https://hls01.juyjuy3.cloud/hls/cf7a207125add2d75e048f47ab36ef32.png
#EXTINF:11.200,
https://hls01.juyjuy3.cloud/hls/294e00f22d231c7976e807c9bec1e179.png
#EXTINF:10.960,
https://hls01.juyjuy3.cloud/hls/98b36357ea4307eb85062ed8e7bbf55c.png
#EXTINF:11.560,
https://hls01.juyjuy3.cloud/hls/d7bd1c16f24cb79af4755852d602c8d9.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/5962dff1b93ac7d85d0ef35f60b88c81.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/b3a93b82cc9d2185ee8014e25a8744c5.png
#EXTINF:11.120,
https://hls01.juyjuy3.cloud/hls/14b932c4907ea69c3fb79b8a91485801.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/bf7952f1e07be72feccb36c177af18df.png
#EXTINF:11.640,
https://hls01.juyjuy3.cloud/hls/d90cf734c00fca04f26132e9dd919316.png
#EXTINF:11.040,
https://hls01.juyjuy3.cloud/hls/bf3c3585d6a93433c02ef649c91103f6.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/083dc34a5cee5afb2f534cbc225bc1fb.png
#EXTINF:11.520,
https://hls01.juyjuy3.cloud/hls/e4b699d9cc90a655d72c571d530099c0.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/a37537feaed5520406ac3788d4a8e0d0.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/636a757b542ce55ca8d815d5ac57e74f.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/7ffc659e0f766d40c55bee810eb0fe1e.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/a5071d59d7ba487e4a0a14cece702877.png
#EXTINF:11.120,
https://hls01.juyjuy3.cloud/hls/579d4f69572b061cc4df79cfbccc9c56.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/a6488cf073b5c83043da99b56a6bd9c8.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/43a55a93f98a01fd56c1a92aca060235.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/baa707f295a15d29dd3192ba8c1bf4a0.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/ee9b4cd71e3e3c10fc11c1893b76ffe4.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/000331f4d727acd771de8211060b0a22.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/a9a29ff7ffbf22d5c4b42b2260bf7618.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/9fa654bbc5d94add94574cf19299a63a.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/7c2366d1b678641b75ec90832d24df02.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/5da338c01f5be61e48daa16dd6a4caf0.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/5d6559a583402e994a0fb9ff0351b682.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/7dd70968a098f272e5921e14c9267895.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/4a0b24d1641e9fcf48fd2606ba8e9ca8.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/af0f2453e1d4951efef90d1ac33e01e7.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/9ed64baa930e6bf8f63b14e964c5fc17.png
#EXTINF:11.520,
https://hls01.juyjuy3.cloud/hls/da249bb15b6ce1303e832f4b30f46ee1.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/5fd14212a395c723b1c78e285b9b1e49.png
#EXTINF:11.360,
https://hls01.juyjuy3.cloud/hls/9bfcf48067325037a0701d965ce5afb7.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/315210e7ce90f64ff7a2e625212a1bed.png
#EXTINF:11.600,
https://hls01.juyjuy3.cloud/hls/2468f55cced27546954bec335497a579.png
#EXTINF:11.680,
https://hls01.juyjuy3.cloud/hls/e84becc90e12dbecd87f29df426dc6c3.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/0362261cd80b08fa378883f5c460be43.png
#EXTINF:11.120,
https://hls01.juyjuy3.cloud/hls/6fcfadf3877c72820414e711259f7c73.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/f6ac05426e6a052bef0b9877e6fd107c.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/4a874006f86c96bf645c69f80e17bd46.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/4972dfb241c0a0df2d665937ecae158c.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/632adcd8b6c428ffd0632b41699d0648.png
#EXTINF:10.960,
https://hls01.juyjuy3.cloud/hls/a7ac32189ade55ab9261579479e89bc8.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/accc7ce596098119fde0866de3129009.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/9f433b5622db8931dc16c8bb187a6e22.png
#EXTINF:11.280,
https://hls01.juyjuy3.cloud/hls/16ece0b9af67a86ad73245739d70c13f.png
#EXTINF:11.400,
https://hls01.juyjuy3.cloud/hls/459abe154b90c8e63b659fb61b956d30.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/ef7235ffa28c914d0a257aebb1b2bbfc.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/3886dda667b277d851edb065d8278c71.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/98b28a6fa0a19b6fe295328ef54f92fa.png
#EXTINF:11.160,
https://hls01.juyjuy3.cloud/hls/3157904643dcd2a1cfd58f2ddd12e1eb.png
#EXTINF:11.840,
https://hls01.juyjuy3.cloud/hls/afd9865a91d851925c1071ba768272c3.png
#EXTINF:11.920,
https://hls01.juyjuy3.cloud/hls/6de2bc5748332ab9c0befa1c47453750.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/a1db0336eac7c3761da16aaef97022d4.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/26c01edf954b2d5c5751da7351bd59b9.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/fae818f4a26624dfcc99c8b8a7df7fd9.png
#EXTINF:11.280,
https://hls01.juyjuy3.cloud/hls/ae9a14819db6ab3144c80546ddb87c18.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/4b77f5f63f5d7c6558fc6e5f740ecc1d.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/a80ae8a28052cc5e46067593592f92b1.png
#EXTINF:11.040,
https://hls01.juyjuy3.cloud/hls/19ba4a419b01cae66c90036ac33a366e.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/3924fa1709bcc88f1c259b9b910c1511.png
#EXTINF:11.640,
https://hls01.juyjuy3.cloud/hls/c9e92cf6ff1cf2b2bd4d8b37ff0d3c03.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/593eab3b5ff381aa5a1af621bdd45daf.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/3bf204fb108e771491e7ae52800681fa.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/bd2af89de9703024d7f51fd6b7aad001.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/4b09ba322ec936365b473fd010142fc1.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/f4101385b45ea24036d4d7c3cd4503b3.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/c8c90020a0a0175ba820ce48b1cb29b9.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/ba1bd6c4059e3ffe6b01746a1109f3ed.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/e7a05b8655488a96d37a71d9cfffafdb.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/387a8281c9969bfcfe7f47cb434f26fe.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/7bf6c8153525473cf6ab03fa3c862e94.png
#EXTINF:11.080,
https://hls01.juyjuy3.cloud/hls/cbf8b6b1b7dd7f57976e379b772fea67.png
#EXTINF:11.480,
https://hls01.juyjuy3.cloud/hls/8d043432e1dc0fa52b6a141e6bd04cb4.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/2869a4e0b3cb67a20642913daba797a9.png
#EXTINF:10.320,
https://hls01.juyjuy3.cloud/hls/2c073803ab9b8fef8d290c8b9b2ed553.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/ff7e516567c3fcf110fc9b00e5db8d76.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/f335def97e2e1709dd1d6cf51da7a4ed.png
#EXTINF:11.200,
https://hls01.juyjuy3.cloud/hls/aacce4a886a01531aa1b9bc065f7e690.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/ed0a0d2ea75ec9f9044ee58b597c4683.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/8ee5e6cf1e0072a58e3b21cf422cffba.png
#EXTINF:11.680,
https://hls01.juyjuy3.cloud/hls/ba9e61a6e81c0b5e753cfa6c3f399078.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/6c7498459bea0e55efecd6d74b17c80c.png
#EXTINF:11.240,
https://hls01.juyjuy3.cloud/hls/534595bfbd8da23d869f9b601db2c2a2.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/79985fd722da51fce0b6c8a8609dbeaf.png
#EXTINF:11.320,
https://hls01.juyjuy3.cloud/hls/0d06392cd240e0b74c6305287feaf138.png
#EXTINF:11.400,
https://hls01.juyjuy3.cloud/hls/07deb268298fb1ef2c207a233d5d68f0.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/041dc1bc42d0aa1d3b391c9ef559386d.png
#EXTINF:11.080,
https://hls01.juyjuy3.cloud/hls/2865dde686c9c953ba9a9871fdacbd15.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/cc5a2fb49ed43aeaab04fa2a8696bf09.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/66b557056b7d549accb513f262899c6c.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/a7db1de44719cf4c80500ae936604607.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/e43e4916dc646d9e15b537a5f758f6c9.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/d061cce8e5714cb3a9cec1117664f2bc.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/fd2f10235344c007bf9421d398d90183.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/7d543e7ead6dac43245791b4d10dd8d3.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/cc0753e197d2a7370336a0901005f0bc.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/63d8e4e69046231ae1f0749b10c0ab7c.png
#EXTINF:11.640,
https://hls01.juyjuy3.cloud/hls/d2883f7c15bd2f31294b976fd648ed6e.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/0cbbb2a5f0218887f0231c6507c193bf.png
#EXTINF:11.720,
https://hls01.juyjuy3.cloud/hls/cbe815c13f477e75bad7d72baee636df.png
#EXTINF:11.200,
https://hls01.juyjuy3.cloud/hls/96818a1d8731ce04237e54b602c5dbc4.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/4bc3a7f90d61556f9314298f7631101d.png
#EXTINF:11.960,
https://hls01.juyjuy3.cloud/hls/e886c2c618391cf6343ff4227891687e.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/a48fbebd72e683de955b6a6ac2b92170.png
#EXTINF:11.960,
https://hls01.juyjuy3.cloud/hls/8c0f57685c680bcf3814f1c9595f2a2b.png
#EXTINF:11.440,
https://hls01.juyjuy3.cloud/hls/22a536fcc24ee1f2d2e35a874a3a087e.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/5d9355b88d61be9806ac191905cac3d9.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/ea8359b02384ed74138ceaca09494110.png
#EXTINF:11.280,
https://hls01.juyjuy3.cloud/hls/3cc77a61bbefb410b0807fa491ca0f9f.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/e0d8fcf250b095a0ff19ec682b571a94.png
#EXTINF:11.120,
https://hls01.juyjuy3.cloud/hls/508e327fde0d7618d6ef898b4cef0268.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/9b4f452531052ba7ac024970f377e7f7.png
#EXTINF:11.360,
https://hls01.juyjuy3.cloud/hls/5ab6cc52f7d5f350e35b2f13658ca652.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/0db1c84697f51b81792e4e372aaa1bea.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/ffd818efacd1b5675a9219f7ae6cc9ee.png
#EXTINF:11.000,
https://hls01.juyjuy3.cloud/hls/334a951e79237da7d4cc6677d4706f77.png
#EXTINF:11.120,
https://hls01.juyjuy3.cloud/hls/11ec7b0eda9d5b65e84405c0fcae1dcd.png
#EXTINF:11.360,
https://hls01.juyjuy3.cloud/hls/e6aa94b407a1acf8812cb67ab7ee6721.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/ac6ae0fa604601f75eb167a682012c98.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/ec1d0b640971b1c428b69c2f8f6a2e52.png
#EXTINF:10.960,
https://hls01.juyjuy3.cloud/hls/c2cc55ac91e7dd2f71457673278ca4aa.png
#EXTINF:11.720,
https://hls01.juyjuy3.cloud/hls/91f81012690a020480029a0152ace836.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/1061fc32121d6a0b2388eaf3ca21c132.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/ba8f6e19a73629fbaa7a9ae7aed06302.png
#EXTINF:11.200,
https://hls01.juyjuy3.cloud/hls/232fa18a4647dab8ac062d084adbfaa0.png
#EXTINF:11.720,
https://hls01.juyjuy3.cloud/hls/993f06d3bab53fcafd858f0afe28c023.png
#EXTINF:11.480,
https://hls01.juyjuy3.cloud/hls/d0279661e190f72609b216f8172a204f.png
#EXTINF:11.120,
https://hls01.juyjuy3.cloud/hls/1b024e6a6c83803255c19fd77a19966c.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/6180e016bc33937ecfee0a9cf4dbd4e8.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/48750d0b4610ec5971fdf5798bde5388.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/e6ebcf5b06fe9b067ec9150f6ad04113.png
#EXTINF:11.920,
https://hls01.juyjuy3.cloud/hls/a54b823d74fee77706a7cf946390cae1.png
#EXTINF:11.880,
https://hls01.juyjuy3.cloud/hls/b94a6de2d9197e144cf118289e8e889a.png
#EXTINF:11.480,
https://hls01.juyjuy3.cloud/hls/a9531f6df967a8468635344cbf1ce2b5.png
#EXTINF:11.920,
https://hls01.juyjuy3.cloud/hls/5f52d28ac9f92d518e1fd1de38ee951a.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/9486ebd3e9384915e6503d058d316f11.png
#EXTINF:11.480,
https://hls01.juyjuy3.cloud/hls/148d6d08a46a522df34118ba73b5dc16.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/4fd3a4ab3db7969b5ea62e8cba350644.png
#EXTINF:11.680,
https://hls01.juyjuy3.cloud/hls/a20d7e1209d17c1af33d17aa36fb4734.png
#EXTINF:11.480,
https://hls01.juyjuy3.cloud/hls/10131f959da8ae11b4ed0e2740c303f3.png
#EXTINF:11.120,
https://hls01.juyjuy3.cloud/hls/7eb05d52d53d785019fa89c88dfc4e7f.png
#EXTINF:11.560,
https://hls01.juyjuy3.cloud/hls/57b4f77f90197b66b3ac3ce572df8520.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/3759e2c408110cf630a061d1e45ad7e4.png
#EXTINF:11.440,
https://hls01.juyjuy3.cloud/hls/c5f24b87c0dd77403425c60137cf0748.png
#EXTINF:11.480,
https://hls01.juyjuy3.cloud/hls/12e5a58a099aaa55dad9feeae076e6e4.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/e0f9886bc521f981ef2887072d9f3bc5.png
#EXTINF:12.000,
https://hls01.juyjuy3.cloud/hls/1c4459b6f63b02be49efdd304d6ddcdf.png
#EXTINF:11.720,
https://hls01.juyjuy3.cloud/hls/c84dcdf00a844b86d41531b3d6adba6a.png
#EXTINF:8.349,
https://hls01.juyjuy3.cloud/hls/bc00ea421ada294ae6d458df838c518f.png
#EXT-X-ENDLIST
