#EXTM3U
#EXT-X-VERSION:3
#EXT-X-MEDIA-SEQUENCE:0
#EXT-X-TARGETDURATION:13
#EXT-X-PLAYLIST-TYPE:VOD
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/cba54b4d2f8774e74fa9fe3d8531d5fc.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/c82a3122309430bd55018e57d5806e1c.png
#EXTINF:11.880,
https://hls01.juyjuy2.cloud/hls/b43938b4440588831e7ab25cac5fd2dc.png
#EXTINF:11.920,
https://hls01.juyjuy2.cloud/hls/90850d5c0ded6b97796b4d4440c9ffe5.png
#EXTINF:11.400,
https://hls01.juyjuy2.cloud/hls/7bc7223661a0844b50218809c8e95cc6.png
#EXTINF:11.480,
https://hls01.juyjuy2.cloud/hls/035a169b4b495f97507c55fbfd6c45ae.png
#EXTINF:11.680,
https://hls01.juyjuy2.cloud/hls/5a010759834b855817500c7f0737f5d9.png
#EXTINF:11.560,
https://hls01.juyjuy2.cloud/hls/556743c980b49e4899ff3bd57198f268.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/598cc788c0bbb2de3542b9c4927127d3.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/9c52694a4292c6306e4062998a467067.png
#EXTINF:11.800,
https://hls01.juyjuy2.cloud/hls/7d92ca465fe049b252d1da0c69f80217.png
#EXTINF:11.760,
https://hls01.juyjuy2.cloud/hls/e3f82125eace42a16d5744447716184b.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/5a26d8a1f34090d30358ddc4fd3836ad.png
#EXTINF:11.760,
https://hls01.juyjuy2.cloud/hls/3968fb63995f9333d077876bc043a799.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/1b9183da9470a30db6e802d5ade602f0.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/4e3f06802db8cc64e99857260703c5fb.png
#EXTINF:11.160,
https://hls01.juyjuy2.cloud/hls/f0d07529c9488e6aa2669a2b1ed34e50.png
#EXTINF:11.600,
https://hls01.juyjuy2.cloud/hls/34637c9819721d65f30ce38dc5752f0a.png
#EXTINF:11.000,
https://hls01.juyjuy2.cloud/hls/fdcbe8946f4477445d62c231a71f703a.png
#EXTINF:10.640,
https://hls01.juyjuy2.cloud/hls/d9b74053bd0cc3a9d965cc7019056d8c.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/b9232c4fbd76f15c84f6875935056204.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/80f776a37943c9bc2527739a588b0585.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/427c17f7c191420b7521c47e234dc23b.png
#EXTINF:10.760,
https://hls01.juyjuy2.cloud/hls/0815f3a091416e4497d463ee08f496d0.png
#EXTINF:10.760,
https://hls01.juyjuy2.cloud/hls/7409ab2979e0f9d7fa1f9bb1abf4c3a1.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/6291364f8925dc7b3a5fe443baf610d5.png
#EXTINF:11.880,
https://hls01.juyjuy2.cloud/hls/c0ebf2fe835163f2bebd618cf6d9a859.png
#EXTINF:11.600,
https://hls01.juyjuy2.cloud/hls/baf8ce4bab1af456ea67c67d0df4f0be.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/0b93f69e1acc2f89570c055ae79c081e.png
#EXTINF:11.200,
https://hls01.juyjuy2.cloud/hls/aa142512c382145778c6ee489ceee446.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/45134ab57f50774bc57a506bcd46c843.png
#EXTINF:11.240,
https://hls01.juyjuy2.cloud/hls/6bf3678ea1ae0d4f3af447499697727a.png
#EXTINF:11.320,
https://hls01.juyjuy2.cloud/hls/feb76520d1b212b5befe992f1db645ac.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/301e8d6baf13f402d54dd07661e763ec.png
#EXTINF:11.880,
https://hls01.juyjuy2.cloud/hls/165a04b8531635e8d42e5130b337567e.png
#EXTINF:11.160,
https://hls01.juyjuy2.cloud/hls/bde188800b55d1167fd8bcd6a5d32f9c.png
#EXTINF:11.120,
https://hls01.juyjuy2.cloud/hls/2b8e989cd8912e4a190e51e61ade44f3.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/f2871a261cc0641da98931b5143b7098.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/aaa669fd6b7b6e6375d0240fe35af845.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/356480cdfe2e73482fba5a6dfbf17dc6.png
#EXTINF:11.080,
https://hls01.juyjuy2.cloud/hls/56eb5546d021b3f920565d0b826d3467.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/fe03a22274b898db2db008a8bc33ab88.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/8f6b88cd2a8bc1bbf7d587ee408b5521.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/bd19806fe790383d1bfa2181e51c9569.png
#EXTINF:11.120,
https://hls01.juyjuy2.cloud/hls/4d495e0dbea422a1769d231e43be3882.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/8bb9b3ef62d1efcfaf1833edd495736c.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/29aedbee268169644609eb9927465be9.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/64c0be456852a010b3c2f26c8ca5fbea.png
#EXTINF:11.120,
https://hls01.juyjuy2.cloud/hls/e4c15d066eba04b2fb36af480f0816a9.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/ecc85017325ab2a7802467d20d193519.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/e5b1867b65e5e2667570f3422f1c0c5c.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/10eae12159f069c9961c816af7a34884.png
#EXTINF:11.640,
https://hls01.juyjuy2.cloud/hls/189f5b6c9b76157d9d0e873eda4738cb.png
#EXTINF:11.400,
https://hls01.juyjuy2.cloud/hls/67c3e49566fe5c5d7db4863d05aac3dd.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/f515870b240cfb1b64368d83484bb8b3.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/9935574e9dfa6575318c964cc67ea814.png
#EXTINF:11.240,
https://hls01.juyjuy2.cloud/hls/e1108a7bc217c4a12009f8da8d92fe92.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/e25badf1d4633e6ee763a5f55103819e.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/a03fd7a0850459702edabd2d9e7ec430.png
#EXTINF:11.960,
https://hls01.juyjuy2.cloud/hls/380c1b5cf71091758cd66ea475019bf0.png
#EXTINF:11.880,
https://hls01.juyjuy2.cloud/hls/7cc867ed33c4cc31ea3dc6dc5d507150.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/1f20df2537eec84b32567788f2c2ffa0.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/7f1e89fcbfd75e98ffe36092749368b7.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/8d5d22487b011a423b8f23442fa3725a.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/4b92adf1387cb8736cb31a9295c1025e.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/3fea2fd88989882737e115799c4eefdf.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/ca970135467b199a1ada32d90dcdfaea.png
#EXTINF:10.480,
https://hls01.juyjuy2.cloud/hls/f7008f4a507f9cc874786129264bb4ec.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/93737973d71fc34f4ee81a8d4d7f0020.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/1a2e0ff5dd9ea2fb876eb3a7c081ea60.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/fcfb9bf85997783c84a9967df81a7b3b.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/62fccea8ae65cae52b6b5ce4ecfe6dcb.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/03ce27b1c337f7a55b546f8b8049922c.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/3cc7e472300d23965f62f3a074260f43.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/90a9a1b55ac37a28a78c90b8f01e4d0f.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/84c5e4c0e75976e4b402fb1bec785e54.png
#EXTINF:11.480,
https://hls01.juyjuy2.cloud/hls/d26fa4aa1a0b145b7ec9e7129780ecfa.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/8d97f78d29b843467c3f0d3876da55fe.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/1a7691931453177f9df56d00aba82159.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/32505d14f928bb5d6c5826fb17854eca.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/ec583b2ac05fc6164d24789f29445f72.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/6de639a57e19f3857a09ea24ca26c11d.png
#EXTINF:11.760,
https://hls01.juyjuy2.cloud/hls/17695b3adc87b4ca52b07674ed3a35e5.png
#EXTINF:11.760,
https://hls01.juyjuy2.cloud/hls/037d474ae2c1c5e0fc4aca0575e0aca8.png
#EXTINF:11.600,
https://hls01.juyjuy2.cloud/hls/e4801340f9b3c85797b2ea7c96f432f6.png
#EXTINF:11.560,
https://hls01.juyjuy2.cloud/hls/c9781b6c4c3c138037cc7070b9678d27.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/65a98986fddaa49aba67ac8c9354ed3b.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/1be085321ea9b75ef56c6fc756837670.png
#EXTINF:11.720,
https://hls01.juyjuy2.cloud/hls/9ea53ef3f59361a7ac0a078a5d8216a2.png
#EXTINF:11.760,
https://hls01.juyjuy2.cloud/hls/9378c6722249b87d8b2c3c0d007f6cf6.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/2fbf9ca06aa359cf4d0c441b3aa890a4.png
#EXTINF:11.360,
https://hls01.juyjuy2.cloud/hls/ef4714e980a64cc2edb22c8c584a100e.png
#EXTINF:11.640,
https://hls01.juyjuy2.cloud/hls/1f770d366160e842d7458ad0a595f97d.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/2f9f26b922a077501d80be5f6640c84c.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/6000daba83c17dfaa24971982f838693.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/22f9af0a46d305c5e5865e1be42428d5.png
#EXTINF:11.080,
https://hls01.juyjuy2.cloud/hls/aa2ff69c20f51df0a4be6b56b1068ec5.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/ff0d417dde6d84088c028485c7be7a8f.png
#EXTINF:11.280,
https://hls01.juyjuy2.cloud/hls/81c45efc667aa6db784981e49d7e8b85.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/522c03c9b7ff4f06cb674fbbeff9c312.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/61a13164dfcd62187d7083e67ce2e9cd.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/28fa38e5600e1aac7ba88e9cc9fa15ce.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/cb49465d2a95b8bda4e114f18fd39df6.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/20f630bb587d490b611cbdd485fb297a.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/69bc7f61ec2e2459e8288be67e7638f3.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/a0bb3954ddbe56e15f5cf98aa3b7b9c1.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/2102d930aea8e8d5eb2d6fe9bf54a163.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/9832c422865db55dee9d600b11d8752c.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/e359ab1d2a570819ef0f4da65654fad1.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/a38a2afb116efcd05379e2060a04577e.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/d3d273505c3fb2f7f3d365f591bb813a.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/f16e3ddfe7a46eac257812c9f9d22784.png
#EXTINF:11.480,
https://hls01.juyjuy2.cloud/hls/f0c7b42394acc984cdbe27cc9008858d.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/156a4d46afa5d545c21917a18a74b19c.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/ef7a5e3caba4453febfecfc1d1e77cf6.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/530faa05b0508902feec2785ec30db2b.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/b7153a5980ad883212fd2f6c80911917.png
#EXTINF:11.880,
https://hls01.juyjuy2.cloud/hls/a6eba468ff7576078c557bb735980902.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/e6f832099c424cb7c1d5ea8f0705b12e.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/fa5a020745e3f3b2e8c65f9cfc2d634a.png
#EXTINF:11.920,
https://hls01.juyjuy2.cloud/hls/f6255e03975d9537b1973c5a8b1e9128.png
#EXTINF:11.800,
https://hls01.juyjuy2.cloud/hls/30b6eca998c291e69abf3617e5a85d6e.png
#EXTINF:11.800,
https://hls01.juyjuy2.cloud/hls/18302d33cbfbc4d523c4e5f59d4ec837.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/a16468b20e13423c515cf1b30eaba010.png
#EXTINF:11.240,
https://hls01.juyjuy2.cloud/hls/696e2490c1a3d939e990bc942192c77b.png
#EXTINF:11.720,
https://hls01.juyjuy2.cloud/hls/1939c36a07414649e4235355836d9232.png
#EXTINF:11.160,
https://hls01.juyjuy2.cloud/hls/f34a04eaa236a95634e77202ab4be19a.png
#EXTINF:10.560,
https://hls01.juyjuy2.cloud/hls/56c61967fd9c10660c869b4197b0df57.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/59229a4a598238dbd386e5597ef63190.png
#EXTINF:11.360,
https://hls01.juyjuy2.cloud/hls/5f60dcacea83d5fff32c05eb77e37bf8.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/f4fad4620e79ddcf3944e08f0e9e6e8c.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/4dafeacd31ca3f870e18f64d6f7de6f4.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/24cf47359f97f0d451378b4817e8c61c.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/b2d4e9d72332caa38020410aa37ea1c8.png
#EXTINF:11.200,
https://hls01.juyjuy2.cloud/hls/ecc55bbf29169fdc88b999c0f8b017d7.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/3b806ba0870891554748c723e11df673.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/8712553dec6d5860357658596ec7a971.png
#EXTINF:11.560,
https://hls01.juyjuy2.cloud/hls/3df7ea74b27e4e897192e69b5058f231.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/cb1f78913eeba752c31ef70587a993ba.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/8a9094e3c7b2322be80fb375eaa3da00.png
#EXTINF:11.880,
https://hls01.juyjuy2.cloud/hls/ad8067fb9594301f1d1f8be329767616.png
#EXTINF:11.880,
https://hls01.juyjuy2.cloud/hls/668364a1ccad951a5fe27ee1f74bc65d.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/a6cd6f6a8c7b911cd71ace0e8087c742.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/9db5910852cbd6f78bdd00cf3cd55cbb.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/ec83b699dbdb97d0b143220046360eac.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/a5dd323801cf70d2edc53153cc1bb4a3.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/82924db36f07021d215c85b4aef9e953.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/285daaf027090c6ceb24bab00a76caa5.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/fe659f0e4123e65cfe8ac5408bdf222c.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/5f16bf024c6e38cca37d567483ac8219.png
#EXTINF:11.400,
https://hls01.juyjuy2.cloud/hls/726cfac1daf03c01e7ad90ebe1654552.png
#EXTINF:11.280,
https://hls01.juyjuy2.cloud/hls/ac37452d223485b545cf3afe8e714cc8.png
#EXTINF:11.320,
https://hls01.juyjuy2.cloud/hls/57d886f14237af0ac52b05e8e2ee5a85.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/d05b1b022ff249a6c5ecf1fc1c8552b7.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/67100d30a9d161e9c784f687bac7d314.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/f1b4cb242fc4118b49b90e6454ad7bdd.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/ca2a201f1d35f412ed517d675b95480f.png
#EXTINF:11.160,
https://hls01.juyjuy2.cloud/hls/b42e824404dbf490485f69283ddcf1d4.png
#EXTINF:11.000,
https://hls01.juyjuy2.cloud/hls/b181ea18a39b78c7729fa638332d53de.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/1ed20ecab009e35a06aba29930b29ebf.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/949df978dabc2a194b5032618586a566.png
#EXTINF:11.600,
https://hls01.juyjuy2.cloud/hls/7453936f4e10495798b9fd68179e071c.png
#EXTINF:10.960,
https://hls01.juyjuy2.cloud/hls/eb9d0848d3f3ad935eb2f5cb37bf2b37.png
#EXTINF:11.320,
https://hls01.juyjuy2.cloud/hls/1758a5aad251fc0fef02d3dc950f0022.png
#EXTINF:11.960,
https://hls01.juyjuy2.cloud/hls/fdfe2c887c8160fed5839437c5ccfce7.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/b70cd84a8f2ca08115b6ce91d96240f1.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/09737b3a1acf5a68db5af4b3d6bb708a.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/beb01e86cfa4bf80aac85e408f1fa5c9.png
#EXTINF:11.960,
https://hls01.juyjuy2.cloud/hls/8463d29c8c0e6b038241c33811b73d52.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/b2716dec67e8db973ba9ca021271f649.png
#EXTINF:11.560,
https://hls01.juyjuy2.cloud/hls/8c5c4fff98c7ec367063f9bf45510979.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/f4a51ec84b2a2473a8083d5370ae8e7b.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/b6e4c11a394e55b8e6eec325f9aecab0.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/cb08a0334810d7c9fd56e0d70a85e0a6.png
#EXTINF:11.920,
https://hls01.juyjuy2.cloud/hls/0069f752b9a7bf08547d93400ad8a29e.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/a73a00a3d55be908ea1e6ed6e4f98e50.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/1a8bc2dfbd02fed749a0720fc471de97.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/02ebe3664d649759e8955340623e4a19.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/2a2f2117c299060dbfc3f4a8b2f52f1b.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/59b3ee33b0cc9a397f4c73b768c661de.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/ac4f33977167773494cc2887cc4ee2f3.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/a0e1b72b550ca659c82a3c2f5270efcf.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/9d8ad16377919f172aa21c524fc4bbd0.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/f25be205aff85df8ff1ba0e9d37cddce.png
#EXTINF:11.920,
https://hls01.juyjuy2.cloud/hls/8ac7e89a8bddc99bbeb392bc3eaa90bf.png
#EXTINF:11.360,
https://hls01.juyjuy2.cloud/hls/8748029418a1e9969d0312932f96fb85.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/86f618869b3e7352ac41b58a4f331627.png
#EXTINF:11.760,
https://hls01.juyjuy2.cloud/hls/f0005e3e25ccffa75364c589af0dd89c.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/96afe8144df46b77f0998af2eb243dd1.png
#EXTINF:11.480,
https://hls01.juyjuy2.cloud/hls/1a912ba1cf8609b16e5f468db20732dc.png
#EXTINF:10.680,
https://hls01.juyjuy2.cloud/hls/71fabf279ab391fbf0f054a8d9cfc97f.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/891c57722402bb6413649bd90468f4d5.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/3bfd8b90c93a3c68417dd5f82a2b451c.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/2a3f123de2d4cd8d273eda8bd41dd4cd.png
#EXTINF:11.960,
https://hls01.juyjuy2.cloud/hls/48d114b96fa3c5c2a7ab7225519a9de5.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/848e2a442a490f423d4716d15d0ead93.png
#EXTINF:10.880,
https://hls01.juyjuy2.cloud/hls/317baa6f00a565370bc7dbb16cedb451.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/46f0f33d783666616fa624ffb34ef6a7.png
#EXTINF:11.200,
https://hls01.juyjuy2.cloud/hls/e0b34b47ef3187a25fb63103e852161d.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/4a064436f306cfbc55cf51f7cb363deb.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/c9e94c7127ea7989eb84b7452cdb72d8.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/f408be481af5baf4f09ec65dc1d82eb8.png
#EXTINF:11.320,
https://hls01.juyjuy2.cloud/hls/0a1f3e784ffad4e1bdc16df06ee4d4d8.png
#EXTINF:11.720,
https://hls01.juyjuy2.cloud/hls/f9823729cd691dfcfb9042fe8ebd985b.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/3841df574ed3e0a5ab7377a681e985f8.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/e384fd163f4ef41f5e703a3d96077026.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/811311a552a7be45cc3c5300e66988f6.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/ee8e541cbea3fdd0dc13bcf2efbd4cb2.png
#EXTINF:11.680,
https://hls01.juyjuy2.cloud/hls/8d7db16180f298cd934c7c2a89c36237.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/08b7ceedc26c554ce4e28ede38c281bb.png
#EXTINF:11.240,
https://hls01.juyjuy2.cloud/hls/373d22b1571f5dfbf2ac9728d849147e.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/993a17ab33361670c81b41f5666c0d8c.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/cf4a2724350d5783d5c5913136bfc1e6.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/6b2d390424f85fa5dca5319554e35d7c.png
#EXTINF:11.400,
https://hls01.juyjuy2.cloud/hls/75dd6eacd03442dc490742ea73088b36.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/e04ad1b021fc80a38897f2401a88f618.png
#EXTINF:12.000,
https://hls01.juyjuy2.cloud/hls/c52c908f7387de33cdfb0cd7f9a08fc7.png
#EXTINF:11.578,
https://hls01.juyjuy2.cloud/hls/12e5b857fda7ffa59ffe896befdf7f39.png
#EXT-X-ENDLIST
